
<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="createUser(registerForm)">
    <div class="mb-3">
      <label class="form-label">Name:</label>
      <input name="name" ngModel type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label  class="form-label">Username:</label>
      <input  name="username" ngModel type="text" class="form-control"  aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input name="email" ngModel type="email" class="form-control"  aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label class="form-label">Phone Number:</label>
      <input name= "phone"  ngModel type="text" class="form-control"  aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <h2 class="mt-5 bg-primary">User List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th>Acttion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users let i = index">
        <th>{{i+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>
          <button (click)="deleteUser(i)" class="btn btn-sm btn-danger">Delete</button>
        </td>
        <td>
          <button (click)="onEdit(i)" class="btn btn-sm btn-primary">Update</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>


